body {
    background-color: hsl(0, 0%, 7%);
}

#Secret-Chapter {
    color: white;
    text-align: center;
    font-size: 25px;
    width: 1000px;
    height: 800px;
    margin-left: 300px;
    font-family: verdana;
    position: absolute;
    top: 0;
    left: 0;
}

#Lore-SC {
    font-size: 17px;
}