body {
    background-color: black;
}

#Matter {
    font-size: 50px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 400px;
}

#MatterPerSec {
    font-size: 25px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 400px;
}

#Souls {
    font-size: 50px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 900px;
    position: fixed;
    top: 0;
    margin-top: 10px;
}

#Souls-boost {
    font-size: 25px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 900px;
    position: fixed;
    top: 0;
    margin-top: 70px;
}

header {
    background-color: white;
    width: 1520px;
    height: 100px;
    border: 2px solid white;
}

#Achievements-button {
    background-color: white;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    margin-left: 960px;
    position: absolute;
    margin-top: 120px;
    top: 0;
    cursor: pointer;
}

.Achievements {
    background-color: white;
    border-radius: 6px;
    width: 1200px;
    height: 400px;
    font-size: 20px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    left: -830;
    margin-top: 160px;
    visibility: hidden;
}

.open-Achievements {
    visibility: visible;
}

#Achievement1 {
    background-color: grey;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    border: 2px solid black;
    width: 70px;
    height: 70px;
}

.complete-Achievement1 {
    background-color: rgb(0, 255, 0);
}

#achievement-req {
    color: black;
    font-size: 11px;
    text-align: center;
    position: absolute;
}

#Main-button {
    background-color: white;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    margin-left: 360px;
    position: absolute;
    margin-top: 120px;
    top: 0;
    cursor: pointer;
}

.Main {
    visibility: hidden;
}

.open-Main {
    visibility: visible;
}

#MatterButton {
    background-color: white;
    width: 200px;
    height: 80px;
    font-size: 20px;
    color: black;
    text-align: center;
    align-items: center;
    margin-left: 300px;
    margin-top: 60px;
    cursor: pointer;
}

#Upgrades-button {
    background-color: white;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    margin-left: 660px;
    margin-top: 10px;
    cursor: pointer;
}

.Upgrades-container {
    visibility: hidden;
}

.open-Upgrades-container {
    visibility: visible;
}

#ClickUpgrade1 {
    background-color: white;
    width: 250px;
    height: 130px;
    font-size: 15px;
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 250px;
    margin-top: 50px;
    cursor: pointer;
}

#ClickUpgrade2 {
    background-color: white;
    width: 250px;
    height: 130px;
    font-size: 15px;
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 250px;
    position: absolute;
    cursor: pointer;
    margin-top: 70px;
}

#ProductionUnit1 {
    background-color: white;
    width: 250px;
    height: 130px;
    font-size: 15px;
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 250px;
    margin-top: 240px;
}

#ProductionUnit2 {
    background-color: white;
    width: 250px;
    height: 130px;
    font-size: 15px;
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 440px;
    margin-right: 250px;
}

#SacrificePrestige {
    width: 250px;
    height: 90px;
    font-size: 23px;
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    margin-left: 650px;
    margin-bottom: 70px;
}