body {
    background-color: black;
    overflow: hidden;
}

#nav-right {
    border-left: 2px solid rgb(88, 72, 72);
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 750px;
}

#Matter {
    font-size: 15px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    padding-top: 8px;
    padding-right: 8px;
    top: 0;
    right: 0;
}

#MatterPerSec {
    font-size: 12px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 30px;
    padding-right: 8px;
}

#Souls {
    font-size: 14px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 60px;
    padding-right: 50px;
}

#Souls-Gain {
    font-size: 12px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 80px;
    padding-right: 50px;
}

#Dark-matter-currency {
    font-size: 14px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 110px;
    padding-right: 8px;
}

#Achievements-button[role="tab"] {
    border: solid rgb(110, 104, 104);
    background-color: black;
    width: 200px;
    height: 35px;
    font-size: 17px;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    position: absolute;
    margin-top: 110px;
    top: 0;
    left: 0;
    cursor: pointer;
}

#Achievements-button:hover {
    background-color: rgba(60, 57, 57, 0.652);
}

.Achievements {
    background-color: white;
    border-radius: 6px;
    width: 900px;
    height: 400px;
    font-size: 20px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin-left: 300px;
    margin-top: 160px;
    visibility: hidden;
}

.open-Achievements {
    visibility: visible;
}

.Achievement1 {
    background-color: grey;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    border: 2px solid black;
    width: 70px;
    height: 70px;
}

.complete-Achievement {
    background-color: rgb(0, 255, 0);
}

.Achievement2 {
    background-color: grey;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 100px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    border: 2px solid black;
    width: 70px;
    height: 70px;
}

#achievement-req1 {
    color: black;
    font-size: 11px;
    text-align: center;
    position: absolute;
}

#achievement-req2 {
    color: black;
    font-size: 11px;
    text-align: center;
    position: absolute;
}

#Main-button[role="tab"] {
    border: 2px solid rgb(110, 104, 104);
    background-color: black;
    width: 200px;
    height: 35px;
    font-size: 17px;
    padding-top: 20px;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

#Main-button:hover {
    background-color: rgba(60, 57, 57, 0.652);
}

.Main {
    visibility: hidden;
}

.open-Main {
    visibility: visible;
}

#Matter-button {
    border: 2px solid rgb(110, 104, 104);
    background-color: black;
    width: 150px;
    height: 40px;
    font-size: 18px;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    position: absolute;
    top: 0;
    margin-top: 50px;
    margin-left: 250px;
    cursor: pointer;
}

#Matter-generator {
    border: 2px solid white;
    background-color: black;
    width: 250px;
    height: 40px;
    font-size: 18px;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    position: absolute;
    top: 0;
    margin-top: 200px;
    margin-left: 250px;
}

#Matter-generator-cost {
    border: 2px solid white;
    background-color: black;
    width: 150px;
    height: 40px;
    font-size: 18px;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    position: absolute;
    top: 0;
    margin-top: 200px;
    margin-left: 600px;
    cursor: pointer;
}

#Matter-boost {
    border: 2px solid white;
    background-color: black;
    width: 250px;
    height: 40px;
    font-size: 18px;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    position: absolute;
    top: 0;
    margin-top: 300px;
    margin-left: 250px;
}

#Matter-boost-cost {
    border: 2px solid white;
    background-color: black;
    width: 150px;
    height: 40px;
    font-size: 18px;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    position: absolute;
    top: 0;
    margin-top: 300px;
    margin-left: 600px;
    cursor: pointer;
}

#Matter-extent {
    border: 2px solid white;
    background-color: black;
    width: 250px;
    height: 40px;
    font-size: 18px;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    position: absolute;
    top: 0;
    margin-top: 400px;
    margin-left: 250px;   
}

#Matter-extent-cost {
    border: 2px solid white;
    background-color: black;
    width: 150px;
    height: 40px;
    font-size: 18px;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    position: absolute;
    top: 0;
    margin-top: 400px;
    margin-left: 600px;
    cursor: pointer;
}

#Upgrades-button[role="tab"] {
    border: 2px solid rgb(110, 104, 104);
    background-color: black;
    width: 200px;
    height: 35px;
    font-size: 17px;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 55px;
    cursor: pointer;
}

#Upgrades-button:hover {
    background-color: rgba(60, 57, 57, 0.652);
}

#Souls-Upgrade1 {
    border: 2px solid rgb(52, 16, 16);
    background-color: black;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 300px;
    margin-left: 325px;
    cursor: pointer;
}

#Souls-Upgrade1-text {
    position: absolute;
    top: -260;
    left: 0;
    margin-left: 200px;
    cursor: default;
    width: 400px;
    height: 30px;
    background-color: black;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    font-size: 15px;
    visibility: hidden;
}

#Souls-Upgrade1-text2 {
    position: absolute;
    top: -230;
    left: 0;
    margin-left: 200px;
    cursor: default;
    width: 400px;
    background-color: black;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-top: 5px;
    visibility: hidden;
}

#Souls-Upgrade1:hover #Souls-Upgrade1-text {
    visibility: visible;
}

#Souls-Upgrade1:hover #Souls-Upgrade1-text2 {
    visibility: visible;
}

#Challanges-button[role="tab"] {
    border: 2px solid rgb(110, 104, 104);
    background-color: black;
    width: 200px;
    height: 35px;
    font-size: 17px;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 165px;
    cursor: pointer;
}

#Challanges-button:hover {
    background-color: rgba(60, 57, 57, 0.652);
}

.Challanges {
    background-color: white;
    border-radius: 10px;
    width: 500px;
    height: 300px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 250px;
    margin-top: 250px;
    margin-right: 100px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    visibility: hidden;
}

#Back-button {
    background-image: linear-gradient(90deg, rgb(60, 54, 54), rgb(20, 11, 11));
    width: 150px;
    height: 50px;
    color: red;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 5px;
    cursor: pointer;
}

.Finnish-button {
    border: 2px solid orangered;
    background-image: linear-gradient(90deg, rgb(13, 96, 123), black);
    width: 150px;
    height: 50px;
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 5px;
    text-align: center;
    cursor: pointer;
    visibility: hidden;
}

.show-Finnish-button {
    visibility: visible;
}

.open-Challanges {
    visibility: visible;
}

.Upgrades-container {
    visibility: hidden;
}

.open-Upgrades-container {
    visibility: visible;
}

.SacrificePrestige {
    border: 3px solid white;
    background-color: rgb(236, 47, 4);
    width: 40px;
    height: 40px;
    font-size: 23px;
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 58px;
}

#Souls-img {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 3px;
    margin-top: 2px;
}

#Save-btn {
    background-image: linear-gradient(90deg, white, rgb(82, 80, 80));
    width: 125px;
    height: 50px;
    font-size: 15px;
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
}

#Dark-matter-button[role="tab"] {
    background-color: black;
    border: 2px solid rgb(255, 218, 11);
    width: 200px;
    height: 35px;
    color: yellow;
    font-size: 17px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 220px;
    padding-top: 20px;
}

#Dark-matter-button:hover {
    background-color: rgba(110, 114, 3, 0.508);
}

.Dark-matter {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 1076px;
    height: 750px;
    position: absolute;
    top: 0;
    margin-left: 204px;
    background-color: black;
    visibility: hidden;
}

.open-Dark-matter {
    visibility: visible;
}

.Rebirth {
    width: 250px;
    height: 70px;
    font-size: 15px;
    background-color: grey;
    margin-left: 450px;
    margin-top: 280px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    visibility: hidden;
    animation: Reset 3s ease-out 1s;
}

/*@keyframes Reset {
    0% {
        width: 0px;
        height: 0px;
    }
    100% {
        width: 250px;
        height: 70px;
    }
}*/

.open-Rebirth {
    visibility: visible;
}

.Reset[role="tab"] {
    width: 175px;
    height: 35px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 15px;
    text-align: center;
    background-color: grey;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 130px;
    margin-left: 50px;
    cursor: pointer;
}

.Skill-tree[role="tab"] {
    width: 175px;
    height: 35px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 15px;
    text-align: center;
    background-color: grey;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 130px;
    margin-left: 250px;
    cursor: pointer;
}

.Skills {
    width: 500px;
    height: 700px;
    margin-top: 100px;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    justify-content: center;
    visibility: hidden;
}

.open-Skills {
    visibility: visible;
}

#Skill-1 {
    width: 225px;
    height: 40px;
    padding-top: 20px;
    background-color: grey;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 250px;
    margin-left: 425px;
    cursor: pointer;
}

#Quarks {
    width: 175px;
    height: 35px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 15px;
    text-align: center;
    background-color: grey;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 130px;
    margin-left: 450px;
    cursor: pointer;
}

#Time-dilation {
    width: 175px;
    height: 35px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 15px;
    text-align: center;
    background-color: grey;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 130px;
    margin-left: 650px;
    cursor: pointer;
}

#Options-button[role="tab"] {
    width: 198px;
    height: 35px;
    color: white;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    border: solid rgb(110, 104, 104);
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 278px;
    padding-top: 20px;
    cursor: pointer;
}

.Options {
    width: 820px;
    height: 750px;
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    margin-left: 204px;
    visibility: hidden;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.open-Options {
    visibility: visible;
}

#Options-text {
    padding-top: 100px;
    padding-left: 220px;
}

#Options-button:hover {
    background-color: rgba(60, 57, 57, 0.652);
}